include ../mixins/search.pug
include ../mixins/account.pug
include ../mixins/sub-menu.pug
include ../mixins/alert.pug
header.header
  +alert-popup(expressFlash, 5000)
  .container-fluid.custom-display(style="background-color: #C7C7C7")
    .row
      .col-1 
      .col-6(style="text-align:left")
        p #{settingGeneral.s_desc}
      .col-2(style="text-align:right")
        p
          i.fas.fa-phone
          |  #{settingGeneral.phone}
      .col-3(style="text-align:right")
        p
          i.fas.fa-map-marker-alt
          |   #{settingGeneral.address}
  .container(style="width: 80%;")
    .row.align-items-center
      .col-md-2.text-center
        .logo
          a(href="/" class="navbar-brand" tabindex="-1" ) 
            img(src= settingGeneral.logo alt="logo" width="75px" )
      .col-md-6.float-right
        +search(keyword)
      .col-md-1(style="padding: 0px;")
        if miniCart
          a.float-right.nav-link(href="/cart" style="margin-top:0px;padding: 0px; color: black;font-size: 2rem;")
            i.fa-solid.fa-bag-shopping
            span.cart-badge #{miniCart.totalQuantity}
          
      .col-md-3.text-right(style="padding: 0px;")
        if clientUser
          .account-dropdown
            a.account.float-right.nav-link(href="/user/info" tyle="padding: 6px;")
              i.fas.fa-user
              |  #{clientUser.fullname}
            ul.dropdown-menu(style="display: none; position: absolute; right: 0; background-color: #fff; border: 1px solid #ccc; padding: 10px; list-style: none;")
              li
                a.nav-link(href="/user/info") Tài khoản của tôi
              li
                a.nav-link(href="/user/history-orders") Lịch sử mua hàng
              li
                a.nav-link(href="/user/logout") Đăng xuất
        else
          a.float-right.nav-link(href="/user/login" style="padding: 6px;") Đăng nhập
          a.float-right.nav-link(href="/user/register" style="padding: 6px;" ) Đăng ký
        a.float-right.nav-link(href=`/user/chat` style="padding: 6px; color: black")
          i.fas.fa-comments
          |  Chat
      
             
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container()
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav()
        ul.navbar-nav.mx-auto.justify-content-center
          li.sub-menu.nav-item
            a.nav-link(href="/products") 
              | Danh mục sản phẩm 
              <i class="fa-solid fa-caret-down"></i>
            
            - const path = "/products"
            +sub-menu(categories, path)
          li.nav-item
            a.nav-link(href="/") Trang chủ
          li.nav-item
           
          li.nav-item
            a.nav-link(href="/products") Sản Phẩm
          li.nav-item
            a.nav-link(href="/contact") Liên hệ
          li.nav-item
            a.nav-link(href="/about") Giới thiệu