extends ../../layouts/default.pug
include ../../mixins/alert.pug
block head 
  link(rel='stylesheet', href='/admin/css/form.css')
block main
  if (role.permissions.includes('role_create'))
    +alert-error(expressFlash,5000)
    +alert-success(expressFlash,5000) 
    h1(class="mb-4") Thêm mới nhóm quyền

    form(
      action=`${prefixAdmin}/roles/create`
      method="POST"
    )
      div(class="form-group")
        label(for="title") Tiêu đề
        input(
          type="text"
          class="form-control"
          id="title"
          name="title"
          required
        )

      div(class="form-group")
        label(for="desc") Mô tả
        input(
          type="text"
          class="form-control"
          id="desc"
          name="description"
        )
      div(class="form-group")
        button(
          type="submit"
          class="btn btn-primary"
        ) Tạo mới
  else 
    .non-permission
      h1(class="mb-4") Bạn không có quyền truy cập trang này
      p Vui lòng liên hệ quản trị viên để được hỗ trợ
      a(
        class = 'btn btn-primary btn-sm'
        href=`${prefixAdmin}/dashboard`
      ) Quay lại trang chủ 
        