extends ../../layouts/default.pug
include ../../mixins/alert.pug
block head 
  link(rel='stylesheet', href='/admin/css/form.css')
block main
    if(role.permissions.includes('brand_create'))
      +alert-error(expressFlash,5000)
      +alert-success(expressFlash,5000)    
      h1(class="mb-4") Thêm Mới Thương Hiệu
      form.mb-4(
          action=`${prefixAdmin}/brands/create`
          id="form-create-brands"
          method="POST"
        )
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                required
            )
        div(class="form-group" )
            label(for="desc") Mô tả
            textarea(
                class="form-control textarea-mce"
                id="desc"
                name="description"
                rows="5"
            )
        div(class="form-group")
            label(for="stock") Vị trí
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                placeholder="Tự động tăng"
                min="1"
            )       
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked
            )
            label(for="statusActive" class="form-check-label") Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="inactive"
                checked
            )
            label(for="statusActive" class="form-check-label") Dừng hoạt động
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Tạo Mới
        script(src="/admin/js/product.js")
    else 
      .non-permission
          h1(class="mb-4") Bạn không có quyền truy cập trang này
          p Vui lòng liên hệ quản trị viên để được hỗ trợ
          a(
              class = 'btn btn-primary btn-sm'
              href=`${prefixAdmin}/dashboard`
          ) Quay lại trang chủ 