mixin table-tree(items, level=1)
  each item, index in items
    - const prefix = Array(level).join("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#10148; &nbsp;&nbsp;&nbsp;&nbsp;")
    tr
      td 
        input(
          type="checkbox" 
          value=item.id
          name="id" 
        ) 
      td #{item.index}
      td !{prefix}#{item.title}
      td !{item.description}
      td 
        input(
          type="number"
          value=item.position 
          style="width:60px"
          min="1"
          name="position"
        )
      td
        if(role.permissions.includes('category_edit'))          
          if (item.status=="active")
            a(
              href="javascript:" 
              class="badge badge-success"
              button-change-status 
              data-id=item.id 
              data-status=item.status                    
            ) Hoạt động
          else 
            a(
              href="javascript:" 
              class="badge badge-danger"
              button-change-status 
              data-id=item.id 
              data-status=item.status
            ) Không hoạt động
      td 
        if(role.permissions.includes('category_edit'))         
          a(
            class = 'btn btn-warning btn-sm ml-1'
            href=`${prefixAdmin}/categories/edit/${item.id}`
          )
          
            i.fas.fa-edit.mr-1
        if(role.permissions.includes('category_delete'))
          button(
            class = 'btn btn-danger btn-sm ml-1'
            button-delete
            data-id=item.id
          )
            i.fas.fa-trash-alt.mr-1
         
    if item.children && item.children.length > 0 
        +table-tree(item.children, level+1)