extends ../../../client/layouts/user.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
include ../../mixins/product-layout.pug
block head 
  link(rel="stylesheet", href="/css/user/reset.css")
block main
  +alert-popup(expressFlash, 5000)
  script(src="/js/cart.js") 
  .container.my-3
    .row.justify-content-center
      .col-8
        .card.p-4.my-4
          .card-header.text-center
            h3 Đặt Lại Mật Khẩu
          .card-body
            form(action="/user/password/reset" method="POST")
              div(class="form-group")
                label(for="password1") Mật khẩu mới
                input(
                  type="password"
                  class="form-control"
                  id="password1"
                  name="password1"
                  required 
                )
              div(class="form-group")
                label(for="password2") Nhập lại mật khẩu
                input(
                  type="password"
                  class="form-control"
                  id="password2"
                  name="password2"
                  required
                )
              div(class="form-group")
                button(
                  type="submit"
                  class="btn btn-primary "
                  style="width: 100%"
                  width 
                ) Xác nhận
            