extends ../../../client/layouts/default.pug
include ../../mixins/box-head.pug

block head
  link(rel="stylesheet", href="/css/cart.css")

block main
  script(src="/js/cart.js")
  .container(style="min-height: 70vh").cart-page
    if cart.products.length >0
      .container-fluid.my-5.header-cart.mt-4
        .row
          .col-12
            +box-head('Giỏ hàng')
      .container.my-4
        .row
          .col-12
            h5.suggestion-text #{cart.products.length} sản phẩm trong giỏ hàng
      .container
        .row
          .col-12
            .cart-table-wrapper
              table.table.table-hover
                thead
                  tr
                    th STT
                    th Ảnh
                    th Tên sản phẩm
                    th Giá
                    th Số lượng
                    th Tổng
                    th Hành động
                tbody
                  each item, index in cart.products
                    tr
                      td #{index + 1}
                      td
                        img(src=item.productInfo.thumbnail width=50)
                      td
                        a(href=`/products/detail/${item.productInfo.slug}`) #{item.productInfo.title}
                      td #{item.productInfo.priceNew}$
                      td
                        input(type='number' name="quantity" value=item.quantity, min=1, max=item.productInfo.stock, data-id=item.product_id, class="form-control quantity-input" style="width:50%; margin: 0 auto;")
                      td #{item.totalPrice}$
                      td
                        a.btn.btn-danger.btn-sm(href=`/cart/delete/${item.product_id}`) Xóa

        .container.my-4
          .row
            .col-12.text-right
              h5 Tổng tiền: #{cart.totalPrice}$

        .container.my-4
          .row
            .col-12.text-right
              a.btn.btn-primary.btn-md(href='/checkout') Tiến hành đặt hàng
    else
      .container.my-4
        .row
          .col-12.text-center
            h5.text-muted.mt-5 
              i.fas.fa-shopping-cart
              |  Giỏ hàng trống
            a.btn.btn-primary.btn-sm.mt-2(href='/products')
              | Tiếp tục mua hàng
              <i class="fa-solid fa-arrow-right ml-2"></i>
