extends ../../layouts/default.pug
include ../../mixins/rating.pug
block main
    .container(style="margin-top: 20px; border: 1px solid #ddd; border-radius: 30px; padding-bottom: 20px;")
      .row
        .col-md-12
          br
          h1.text-center Products
        
      
      br
      .row  
        each item in products
          .col-6.col-md-4.col-lg-3
            .product-item
              .inner-image
                img(
                  src=item.thumbnail 
                  alt=item.title
                )
                
              .inner-content
                span(class="inner-onsale") 
                  i(class="fa-solid fa-bolt")
                  | Giảm 6%
                h3.inner-title
                  a(href=`/products/${item.slug}`) #{item.title}
                  if item.title.length < 20 
                    .break(style="height:20px")

                .inner-price
                  .row 
                    .col-6.text-center
                      span.inner-price-new #{item.priceNew}$
                    .col-6.text-center
                      span.inner-price-old #{item.price}$            
                  .row.text-center(style="margin-top: 10px") 
                    +rating(item)

      
                    
                    